<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h1>my page</h1>
    </div>
  </div>
  <div class="row mt-5">
    <% @posts.each do |post| %>
    <div class="post">
      <p class="caption"><%= post.created_at.to_s(:datetime_jp) %></p>
      <%= link_to post_path(post) do %>
        <% if post.image.attached? %>
          <%= image_tag post.image, size: "200x200" %>
        <% else %>
          <%= image_tag "noimage", size: "200x200" %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
