<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>about</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <h3>
        子供の成長を手軽に、安全に記録できる<br>
        自分専用の育児日記
      </h3>
    </div>
  </div>
</div>